<div class="field">
<h3>本当に退会しますか？</h3>
 <p>
   退会すると、会員登録情報や<br>
   これまでの投稿履歴が閲覧できなくなります。<br>
   退会する場合は、「退会する」をクリックしてください。

 </p>
  <%= link_to "退会する", customer_withdraw_path, data: { confirm: "本当に退会しますか？" } %>
  <%= link_to "退会しない", customer_path(current_customer) %>
 </div>
 
 <style>
  div.field{
   margin-left: 400px;
   margin-top: 20px;
  }
 </style>