  <table class="table">
    <tbody>
      <% @likes_posts.each do |post| %>
        <tr>
          <td>
            <%= link_to post.title, post_path(@post) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>