<h4>会員一覧</h4>

<div class="users">
  <table>
    <thead>
      <tr>
        <th>会員ID</th>
        <th>氏名</th>
        <th>メールアドレス</th>
        <th>ステータス</th>
      </tr>
    </thead>
<% @customers.each do |customer| %>
<tbody>
  <tr>

  <td><%= customer.id %></td>
  <td><%= link_to customer.last_name + customer.first_name, admin_customer_path(customer.id) %></td>
  <td><%= customer.email %></td>
  <td>
    <% if customer.is_active == true %>
    <p class="text-success font-weight-bold">有効</p>
    <% else %>
    <p class="text-secondary">退会</p>
    <% end %>
  </td>
  </tr>
</tbody>
<% end %>
</table>
</div>

<style>
  h4{
    width: 110px;
    margin-left: 100px;
    margin-top: 30px;
    background: #e6e6e6;
  }
  div.users{
    margin-left: 100px;
    margin-top : 30px;
    
  }
</style>
