<h3>ジャンル編集</h3>
<%= form_with model: @genre, url: admin_genre_path, method: :patch do |f| %>

<div>
  <table>
  <tr>
    <th>ジャンル名</th>
    <td><%= f.text_field :name %></td>
  </tr>
  </table>
  <%= f.submit '保存' %>




</div>
<% end %>
