<div class="edit">
<h4>ジャンル編集</h4>
<%= form_with model: @genre, url: admin_genre_path, method: :patch do |f| %>

<div class="edit">
  <table>
  <tr>
    <th>ジャンル名</th>
    <td><%= f.text_field :name %></td>
  </tr>
  </table>
  <%= f.submit '保存' %>
</div>
<% end %>
</div>

<style>
  h4{
    margin-left: 250px;
    margin-top: 20px;
  }
  div.edit{
    margin-left: 250px;
    margin-top: 20px;
  }
</style>